@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kanit&family=Lobster&family=Merriweather:wght@700&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
}