/* * NAV_BAR */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #279EFF;
    padding: 1%;
    position: fixed;
    top: 0;
    width: 100%;
}
#logo {
    margin-left: 2.5rem;
    color: #F6F4EB;
    font-size: 20pt;
}
.nav-bar-option ul li {
    display: inline;
    text-decoration: none;
}
.nav-bar-option ul li a {
    text-decoration: none;
    margin-right: 2.5rem;
    font-weight: 700;
    color: #F6F4EB;
    font-size: 13pt;
}