/* * MAIN PART */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#title {
    text-align: center;
    font-size: 78   pt;
}


/* * FOOTER PART */
footer {
    height: 18.3%;
}
.footer-container {
    background-color: blue;
    
}