/* -------------- WELCOME SECTION --------------- */

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;

}
.welcome-container #title {
    text-align: center;
    font-size: 78pt;
    color: white;
    z-index: 1;
    animation: FadeTheWelcome 1s ease;
}
.welcome-container .img-class {
    position: absolute;
}
.welcome-container .img-class img {
    z-index: -1;
    width: 100%;
    object-fit: contain;
    animation: FadeTheWelcomeBG 1s ease;
}
/* -------------- WELCOME SECTION ANIMATION--------------- */
@keyframes FadeTheWelcome {
    from {
        transform: translateY(-500px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 100;
    }
}
@keyframes FadeTheWelcomeBG {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

/* -------------- ABOUT SECTION --------------- */

.about-container {
    height: 105vh;
    background-color: rgb(88, 37, 230);
}
.about-container #title, .project-container #title, .contact-container #title {
    font-size: 48pt;
    padding: 6rem 0 6rem 0;
    color: white;
    text-align: center;
}
.info-container {
    display: flex;
    justify-content: center;
}
.info-container .info {
    display: block;
    width: 500px;
    padding-left: 5rem;
}
.info-container img {
    width: 800px;
    height: 600px;
    object-fit: contain;
}
.info-container .info p {
    margin: 1rem 0 1rem 0;
    font-size: 26pt;
    color: white;
}
.info-container .info li {
    color: white;
    font-size: 20pt;
    margin-bottom: 3px;
}

/* -------------- PROJECT SECTION --------------- */

.project-container {
    height: 265vh;
    background-color: rgb(236, 28, 142);
}
.project-1-container,
.project-2-container,
.project-3-container,
.project-4-container {
    display: flex;
    align-items: center;
    width: 1500px;
    margin: 0 auto 4rem;
}
.project-container div img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin-right: 3rem;
}
.project-container div .description h1 a {
    font-size: 32pt;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.project-container div .description p {
    font-size: 20pt;
}

/* -------------- PROJECT SECTION --------------- */

.contact-container {
    height: 105vh;
    background-color: rgb(76, 230, 37);
}