/* -------------- WLECOME SECTION --------------- */

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    background-color: rgb(41, 216, 158);
}
.welcome-container #title {
    text-align: center;
    font-size: 78pt;
    color: white;
}

/* -------------- ABOUT SECTION --------------- */

.about-container {
    height: 105vh;
    background-color: rgb(88, 37, 230);
}
.about-container #title, .project-container #title {
    font-size: 45pt;
    padding: 6rem 0 6rem 0;
    color: white;
    text-align: center;
}
.info-container {
    display: flex;
    justify-content: center;
}
.info-container .info {
    display: block;
    width: 500px;
    padding-left: 5rem;
}
.info-container img {
    width: 800px;
    height: 600px;
    object-fit: contain;
}
.info-container .info p {
    margin: 1rem 0 1rem 0;
    font-size: 26pt;
    color: white;
}
.info-container .info li {
    color: white;
    font-size: 20pt;
    margin-bottom: 3px;
}

/* -------------- PROJECT SECTION --------------- */

.project-container {
    display: flex;
    justify-content: center;
    height: 105vh;
    background-color: rgb(236, 28, 142);
}